<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      // //TODO: Needs work to create a dropdown helper function, to prevent repetitive code
      // function dropDownHelper(category, opt_values, values, obj_property) {
      //   for(var el=0; el < allMarkers.length; el++){
      //     for (var i = 0; i < opt_values.length; i++ ) {
      //       switch(category) {
      //             case opt_values[i]:
      //                 marker = allMarkers[el]
      //                 for (j = 0; j < values.length; j++) {
      //                   if (marker[obj_property] == values[j]) {
      //                     marker.setVisible(true)
      //                     break
      //                   }
      //                   else {
      //                     marker.setVisible(false)
      //                     break
      //                   }
      //                 }        
      //             break;
      //           default:
      //             for(var i=0; i<allMarkers.length; i++){
      //                 marker = allMarkers[i]
      //                 marker.setVisible(true);
      //               }
      //         }
      //     }
      //   }
      // }
      // // How each function would look like after implemented 
      // function hasFireplace(category) { 
      //   opt_values = ["has_fireplace", "no_fireplace"]
      //   values = [1, 0]
      //   dropDownHelper(category, opt_values, values, "fireplace")
      // }

      // function filterAptMarkers(category) { 
      //   opt_values = ["Two_Stories", "Three_Stories"]
      //   values = ["Two Story", "Three Story"]
      //   dropDownHelper(category, opt_values, values, "resident_type")
      // }


      var map;
      var heatmap1 = []
      var heatmap2 = []
      var heatmap3 = []
      var gradients = []
      var allMarkers = []

      var yellow = [
        'rgba(255, 255, 0, 0)',
        'rgba(255, 255, 0, 1)'
       ]

      var red = [
        'rgba(255, 0, 0, 0)',
        'rgba(255, 0, 0, 1)'
      ]

      var green = [
        'rgba(0, 255, 0, 0)',
        'rgba(0, 255, 0, 1)'
      ]

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.885, lng: -87.665},
          zoom: 8
        });
        json_data = []
        $.ajax({
            url: "/api/geojson",
            cache: false,   
            dataType: "json",  
            success: function( data, textStatus, jqXHR ) {
                json_data.push(data)
                $.each(data, function(key, item) {
                    var infowindow = new google.maps.InfoWindow({
                      content: item.address
                    });
                    var latLng = new google.maps.LatLng(item.lon, item.lat); 
                    // Get lat lon based on values for Burndown grid
                    if (item.estimated_market_value >= 2000000) { heatmap1.push(latLng) }
                    else if (item.estimated_market_value >= 1000000) { heatmap2.push(latLng) }
                    else if (item.estimated_market_value < 1000000) { heatmap3.push(latLng) }
                    // Creating a marker and putting it on the map
                    // Each marker has a specific attr that allows me to filter by them
                    var marker = new google.maps.Marker({
                    position: latLng,
                    map: map, 
                    apt_type: item.apt_type,
                    address: item.address, 
                    zip_code: item.zip_code,
                    rec_type: item.rec_type,
                    ovacls: item.ovacls, 
                    current_land: item.current_land, 
                    estimated_market_value: item.estimated_market_value, 
                    prior_land: item.prior_land, 
                    prior_building: item.prior_building, 
                    prior_total: item.prior_total,
                    town: item.town,
                    volume: item.volume, 
                    location: item.location, 
                    neighbordhood: item.neighbordhood, 
                    house_number: item.house_number, 
                    direction: item.direction, 
                    street: item.street, 
                    suffix: item.suffix, 
                    city: item.city, 
                    resident_type: item.resident_type, 
                    building_use: item.building_use, 
                    apt_description: item.apt_description, 
                    comm_units: item.comm_units, 
                    ext_desc: item.ext_desc, 
                    bsmt_desc: item.bsmt_desc, 
                    attic_desc: item.attic_desc, 
                    bldg_sqre_ft: item.bldg_sqre_ft, 
                    land_sqre_ft: item.land_sqre_ft, 
                    bldg_sf: item.bldg_sf,
                    full_bath: item.full_bath, 
                    half_bath: item.half_bath, 
                    multi_sale: item.multi_sale,
                    ac: item.ac, 
                    fireplace: item.fireplace, 
                    garage_description: item.garage_description, 
                    age: item.age, 
                    units_total: item.units_total,
                    sale_date: item.sale_date, 
                    sale_amount: item.sale_amount, 
                    deed_type: item.deed_type, 
                    tax_code: item.tax_code, 
                    class_description: item.class_description, 
                    pin: item.pin,
                    appcnt: item.appcnt, 
                    appeal_a: item.appeal_a, 
                    appeal_a_status: item.appeal_a_status, 
                    appeal_a_result: item.appeal_a_resultm,
                    appeal_a_reason: item.appeal_a_reason, 
                    appeal_a_pin_result: item.appeal_a_pin_result,
                    appeal_a_propav: item.appeal_a_propav, 
                    appeal_a_currav: item.appeal_a_currav, 
                    appeal_a_tesltdate: item.appeal_a_tesltdate
                    });
                    allMarkers.push(marker)
                    // Add popup to display address of point 
                    marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });
                    google.maps.event.addListener(marker, 'mouseout', function(){
                      infowindow.close();
                    });                    
                });
                // Create gradient colors based on lat lons
                var gradient1 = new google.maps.visualization.HeatmapLayer({
                    data: heatmap1,
                    map:map,
                    radius: 24
                });
                var gradient2 = new google.maps.visualization.HeatmapLayer({
                    data: heatmap2,
                    map:map,
                    radius: 24

                });
                var gradient3 = new google.maps.visualization.HeatmapLayer({
                    data: heatmap3,
                    map:map,
                    radius: 24
                });
                gradients.push(gradient1)
                gradients.push(gradient2)
                gradients.push(gradient3)

                gradient1.set('gradient', gradient1.get('gradient') ? null : green);
                gradient2.set('gradient', gradient2.get('gradient') ? null : yellow);
                gradient3.set('gradient', gradient3.get('gradient') ? null : red);
            }
        });

      }

      function search(arr, value, property){
          initMap()
          for (var i=0; i < arr.length; i++) {
            // TODO: In beta, lat lon (value) not matching up with existing excel sheet lat lon (Parsing Issue?)
            if (property == "position") { 
              latLng = [arr[i][property].lng(), arr[i][property].lat()] 
              if (latLng.join() == value) {
                return arr[i]
              }
            }
            try {
              if (typeof(arr[i].property) == 'string') { 
                if (arr[i][property].toUpperCase() == value.toUpperCase()) { 
                  return arr[i]
                }
              } else { 
                if (arr[i][property] == value) { 
                  return arr[i]
              }
            }
            } catch(error) { 
              if (typeof(arr[i].property) == 'string') { 
                if (arr[i][property].toUpperCase() == value.toUpperCase()) { 
                  return arr[i]
                }
              } else { 
                if (arr[i][property] == value) { 
                  return arr[i]
              }
            }
        }
      }
    }
      function filterAddress() { 
        var searchBox = new google.maps.places.SearchBox(document.getElementById("addressSearch"))
        google.maps.event.addListener(searchBox, "places_changed", function(){ 
          var places = searchBox.getPlaces()
          var bounds = new google.maps.LatLngBounds()
          for (var i=0; i < places.length; i++) {
            marker = search(allMarkers, places[i].name, "address")
            bounds.extend(marker.position)
            latLng = [places[i].geometry.location.lng(), places[i].geometry.location.lat()]
            marker.setPosition(marker.position)
          }
          map.fitBounds(bounds)
          map.setZoom(15)
        })
      }


      function filterZipCode() { 
        var searchBox = new google.maps.places.SearchBox(document.getElementById("zipCodeSearch"))
        google.maps.event.addListener(searchBox, "places_changed", function(){ 
          var places = searchBox.getPlaces()
          var bounds = new google.maps.LatLngBounds()
          for (var i=0; i < places.length; i++) {
            marker = search(allMarkers, places[i].name.slice(-5), "zip_code")
            bounds.extend(marker.position)
            marker.setPosition(marker.position)
          }
          map.fitBounds(bounds)
          map.setZoom(15)
        })
      }

      function add_remove_gradient() {
        // TODO: Will come back to figure out how to remove gradients and add them back depending on cateogory
      }

      function filterAptMarkers(category) {
          
          switch(category) {
              case "Two_Stories":
                for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.resident_type == "Two Story") {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
                }
              break;
              case "Three_Stories":
                for(var i=0; i < allMarkers.length; i++){
                  marker = allMarkers[i]
                  if (marker.resident_type == "Three Story") {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
                }
                break;
            default:
              for(var i=0; i<allMarkers.length; i++){
                  marker = allMarkers[i]
                  marker.setVisible(true);
                }
          }
      }

      function hasFireplace(fp) {
          switch(fp) {
            case "has_fireplace":
              for(var i=0; i < allMarkers.length; i++) {
                marker = allMarkers[i]
                if (marker.fireplace == 1) {
                  marker.setVisible(true)
                }
                else {
                  marker.setVisible(false)
                }
                }              
            case "no_fireplace":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.fireplace == 0) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
            default:
              for(var i=0; i<allMarkers.length; i++){
                  marker = allMarkers[i]
                  marker.setVisible(true);
              }
          }
       } 



       function fullBathroom(fb) {
          switch(fb) {
            case "3+_fb":
              for(var i=0; i < allMarkers.length; i++) {
                marker = allMarkers[i]
                if (marker.full_bath >= 3) {
                  marker.setVisible(true)
                }
                else {
                  marker.setVisible(false)
                }
                }              
            case "2_fb":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.full_bath == 2) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
              case "1_fb":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.full_bath == 1) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
              case "0_fb":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.full_bath == 0) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
            default:
              for(var i=0; i<allMarkers.length; i++){
                  marker = allMarkers[i]
                  marker.setVisible(true);
              }
          }
       }
       
       function halfBathroom(hb) {
        switch(hb) {
            case "3+_hb":
              for(var i=0; i < allMarkers.length; i++) {
                marker = allMarkers[i]
                if (marker.half_bath >= 3) {
                  marker.setVisible(true)
                }
                else {
                  marker.setVisible(false)
                }
                }              
            case "2_hb":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.half_bath == 2) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
              case "1_hb":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.half_bath == 1) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
              case "0_hb":
              for(var i=0; i < allMarkers.length; i++) {
                  marker = allMarkers[i]
                  if (marker.half_bath == 0) {
                    marker.setVisible(true)
                  }
                  else {
                    marker.setVisible(false)
                  }
              }
              break;
            default:
              for(var i=0; i<allMarkers.length; i++){
                  marker = allMarkers[i]
                  marker.setVisible(true);
              }
          }
       } 
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&libraries=visualization,places&callback=initMap"
    async defer></script>
    <div class="investCast">
  
        <input type="text" id="addressSearch" placeholder="Search By Address"  onclick="filterAddress()">


        <input type="text" id="zipCodeSearch" placeholder="Search By Zip Code"   onclick="filterZipCode()">
        
        <select id="mag" onchange="filterAptMarkers(this.value);">
            <option value="">Apt Floors</option>
            <option value="Two_Stories">Two Floors</option> 
            <option value="Three_Stories">Three Floors</option>
        </select>
        <select id="mag" onchange="hasFireplace(this.value);">
            <option value="">Fireplaces in Apt</option>
            <option value="has_fireplace">Has a Fireplace</option> 
            <option value="no_fireplace">No Fireplace</option>
        </select>
        <select id="mag" onchange="fullBathroom(this.value);">
            <option value="">Full Bathrooms in Apt</option>
            <option value="3+_fb">3+</option> 
            <option value="2_fb">2</option>
            <option value="1_fb">1</option> 
            <option value="0_fb">0</option>
        </select>   
        <select id="mag" onchange="halfBathroom(this.value);">
            <option value="">Half Bathrooms in Apt</option>
            <option value="3+_hb">3+</option> 
            <option value="2_hb">2</option>
            <option value="1_hb">1</option> 
            <option value="0_hb">0</option>
        </select>            
    </div>
  </body>
</html>